.Trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pageTitle{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding: 4px;
    text-transform: uppercase;
    border-radius: 50px;
    color: white;
    font-family: 'Montserrat','sans-serif';
}
@media(max-width:1000px){
    .pageTitle{
        font-size: 6vw;
    }
}